{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 skills-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container d-flex-block">
    <div class="row" id="primary-skills">
      {{ range .skills }}
        {{ partial "cards/skill.html" . }}
      {{ end }}
    </div>
  </div>

  <br>

  <div class="container d-flex-block">
    <div class="row">
      <div class="col-4 col-md-2 mb-3">
        <a href="https://takiba.net/" target="_blank">
          <img src="https://takiba.net/authors/admin/avatar_hu70deee2314b6cf71f8f29c4a2cd500b5_233513_270x270_fill_q75_lanczos_center.jpg" class="rounded-circle mx-auto d-block img-fluid">
        </a>
      </div>
      <div class="col-4 col-md-2 mb-3">
        <a href="https://imoz.jp/index.en.html" target="_blank">
          <img src="/members/imos.jpg" class="rounded-circle mx-auto d-block img-fluid">
        </a>
      </div>
      <div class="col-4 col-md-2 mb-3">
        <a href="https://x.com/sulume" target="_blank">
          <img src="/members/sulume.webp" class="rounded-circle mx-auto d-block img-fluid">
        </a>
      </div>
      <div class="col-4 col-md-2 mb-3">
        <a href="https://x.com/wata_orz" target="_blank">
          <img src="/members/wata.jpg" class="rounded-circle mx-auto d-block img-fluid">
        </a>
      </div>
      <div class="col-4 col-md-2 mb-3">
        <a href="https://x.com/toslunar" target="_blank">
          <img src="/members/tos.jpg" class="rounded-circle mx-auto d-block img-fluid">
        </a>
      </div>
      <div class="col-4 col-md-2 mb-3">
        <a href="http://chokudai.net/" target="_blank">
          <img src="/members/chokudai.jpg" class="rounded-circle mx-auto d-block img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>
